<div class="row">
  <div class="col-lg-12">
    <%= image_tag("profile.png", :class => "img-responsive") %>
    <div class="intro-text">
      <form class="form-horizontal" action="/api/searchList" method"GET">
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-1">
            <input type="text" class="form-control" name="query" id="inputEmail3" placeholder="Search">
            <div class="checkbox">
              <label>
                <input type="radio" name="type" value="product" checked>Product
              </label>
              <label>
                <input type="radio" name="type" value="place">Places
              </label>
            </div>
          </div>


        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-danger btn-lg">Search</button>
          </div>
        </div>
      </form>

      <hr class="star-light">
      <span class="skills">Product Search - Place Search - User Experience Share</span>
    </div>
  </div>
</div>