<style>
  .mylist{
    float: right;
    left: -764px;
  }
  .headlist{

    padding-left: -69px;
    margin-left: -523px;
  }
  .desc{
    text-align: left;
  }
  .none{
    color: white;

  }
  a.none:hover{
    color: #0d1318;
    text-decoration: none;
  }
  .seacrhBar{
    margin-top: -60px;
  }
</style>
<div class="row">
  <div class="seacrhBar">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
          <input type="text" class="form-control" id="inputEmail3" placeholder="Search">
          <div class="checkbox">
            <label>
              <input type="radio"name="searchType" value="">Product
            </label>
            <label>
              <input type="radio" name="searchType" value="">Places
            </label>
          </div>

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-danger ">Search</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="row">
  <div class="col-lg-8 mylist">
    <h2 class="headlist"><a class="none " href="#">Head Result</a></h2>
    <div class="desc">Dummy data about the site that will be reviewdDummy data about the site that will be reviewdDummy data about the site that will be reviewd </div>
  </div>
  <div class="col-lg-8 mylist">
    <h2 class="headlist"><a class="none " href="#">Head Result</a></h2>
    <div class="desc">Dummy data about the site that will be reviewdDummy data about the site that will be reviewdDummy data about the site that will be reviewd </div>
  </div><div class="col-lg-8 mylist">
  <h2 class="headlist"><a class="none " href="#">Head Result</a></h2>
  <div class="desc">Dummy data about the site that will be reviewdDummy data about the site that will be reviewdDummy data about the site that will be reviewd </div>
</div>
</div>
